/*
 |
 | HELPERS
 | ---------------------------------------
 | Variable declarations and functions
 |
 */
/*
 |
 |  Global variables (probeer zoveel mogelijk varibelen per component te maken.. en niet globaal)
 | ------------------------------------
 */
/*
 |
 | BASE
 | ---------------------------------------
 | Base files and some global declarations
 |
 */
body {
  font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 11px;
  line-height: 11px; }

h1 {
  font-family: 'Tahoma', Arial;
  font-size: 50px;
  line-height: 50px; }

h2 {
  font-family: 'Tahoma', Arial;
  font-size: 36px;
  line-height: 36px; }

h3 {
  font-family: 'Tahoma', Arial;
  font-size: 24px;
  line-height: 24px; }

h4 {
  font-family: 'Tahoma', Arial;
  font-size: 16px;
  line-height: 16px; }

h5 {
  font-family: 'Tahoma', Arial;
  font-size: 14px;
  line-height: 14px; }

h6 {
  font-family: 'Tahoma', Arial;
  font-size: 12px;
  line-height: 12px; }

p, a, li {
  font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 11px;
  line-height: 11px; }

p {
  line-height: 1.8em; }

a {
  font-size: inherit; }
  a:focus, a:active {
    outline: none;
    -moz-outline-style: none; }

/*
 |
 | FRAMEWORK
 | ---------------------------------------
 | Structure and layout
 |
 */
/*
 |
 | COMPONENTS
 | ---------------------------------------
 | Specific components
 |
 */
/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #f1f1f1; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

/*
<!DOCTYPE html>
<html lang=eng>
<head>
    <meta charset="UTF-8">
    <title>ecard systeem</title>
    <link rel="stylesheet" type="text/css" href="client/css/main.css">
</head>
<body>
    <div class="dropdown">
  <button class="dropbtn">objecten</button>
  <div class="dropdown-content">
    <a href="#">object 1</a>
    <a href="#">object 2</a>
    <a href="#">object 3</a>
  </div>
</div>
    <div class="berend"></div>
</body>
</html>    
*/
.tree {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute; }

.car {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute; }

.miauw {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute; }
