.bush {
  width: 300px;
  height: 500px;
  background-image: url(http://cdn.playbuzz.com/cdn/dc3a1df9-a3af-4c0c-8982-7550a3328741/42488493-f3f3-4d23-a85f-a25db124f48c.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-left:-30em;
}
