.cloud {
  width: 500px;
  height: 500px;
  background-image: url(http://pngimg.com/upload/cloud_PNG16.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -40em;
  margin-left: -60em;
}
