.dog{
  width: 100px;
  height: 100px;
  background-image: url("http://i1137.photobucket.com/albums/n503/wunten818/pixel_joint_forum/my_pixel_art/myDogWhip_Large_zpsae7c8c35.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

