.tree{
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;

}

.car{
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute;
}

//width:100px;height:100px;background:red;position:absolute;transform:perspective(500px)