.tree{
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;

}

.car{
  width: 100px;
  height: 100px;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/228784/Blue-Beetle-Profile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

//width:100px;height:100px;background:red;position:absolute;transform:perspective(500px)