.pikachu {
  width: 200px;
  height: 200px;
  background-image: url(http://rs949.pbsrc.com/albums/ad339/FlameingElectricity/Animated%20Pokemon%20Sprites/025_zpsfea5354b.gif~c200);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-left:-30em;
}
