.regen {
  width: 500px;
  height: 500px;
  background-image: url(http://24.media.tumblr.com/tumblr_mdq76hhR2F1rgpyeqo1_500.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 5em;
  margin-left: -60em;
}
