/*
 |
 |  Global variables (probeer zoveel mogelijk varibelen per component te maken.. en niet globaal)
 | ------------------------------------
 */

// base
$white         : #FFFFFF;
$black         : #000000;
$light-gray    : #e1e1e1;


