/*
 |
 | GRID
 | ---------------------------------------
 | Zet hier je specifieke GRID CSS
 |
 */
.border-box {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
         -o-box-sizing:border-box;
            box-sizing:border-box;
}

.noscroll {
    overflow:hidden;
}

html {
    @extend .full-width-height;
    @extend .noscroll;
}

body {
    @extend html;
    @extend .full-width-height;
    background: $dark-blue;
}

.center-horizontally {
    position:absolute;
    left:50%;
    -webkit-transform:translateX(-50%);
       -moz-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
         -o-transform:translateX(-50%);
            transform:translateX(-50%);
}
.center-vertically {
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
       -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
         -o-transform:translateY(-50%);
            transform:translateY(-50%);
}
.center-all {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translateY(-50%) translateX(-50%);
       -moz-transform:translateY(-50%) translateX(-50%);
        -ms-transform:translateY(-50%) translateX(-50%);
         -o-transform:translateY(-50%) translateX(-50%);
            transform:translateY(-50%) translateX(-50%);
}

.full-width {
    width:100%;
}
.full-height {
    height:100%;
}

